#editor > .CodeMirror {
  background: #272b30;
  border-bottom: 1px solid green;
  height: 500px;
}
#buttons {
  margin-top: 10px;
  text-align: center;
}
#status {
  margin-top: 20px;
  vertical-align: bottom;
}
span.success {
  color: #00ff00;
}
span.error-message {
  color: red;
}
#some-code {
  display: none;
}